@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Righteous&family=Satisfy&display=swap'); /*font-family: 'Satisfy', cursive;*/

@media screen and (min-width: 900px) {


    main{

        background-color: rgb(255, 251, 253);
        display: block;
        padding: auto;
        margin-left:  200px;
        margin-right: 200px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 3vh;
        font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        border-radius: 40px;
        text-align: justify;
        box-shadow: 2em 2em 8em rgb(39, 35, 2);
        text-align: center;
    }
    
}
    
    

   