@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /*font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Righteous&display=swap'); /*'Kenia', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Righteous&family=Satisfy&display=swap'); /*font-family: 'Satisfy', cursive;*/

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(187, 182, 185);
    text-align: center;
   }

main {
    background-color: rgb(255, 251, 253);
    display: block;
    padding: auto;
    margin: 5vh;
    padding: 3vh;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border-radius: 40px;
    text-align: justify;
    box-shadow: 2em 2em 8em rgb(39, 35, 2);
    text-align: center;
}

#txtDados {
    padding-bottom: 10px;
    color: rgb(85, 84, 84);
}

#txtEnd {
    color: rgb(85, 84, 84);
}

.campos {
    text-align: justify;
    padding: 10px;
}


input {
    border: transparent;
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
    background-color: rgb(216, 216, 210);
    color: black;

}

#estados {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background-color:rgb(216, 216, 210);
    border: solid rgb(216, 216, 210);
    border-radius: 15px;    
    cursor: pointer;
    
}

#estados:hover {
    background-color: rgb(255, 251, 253);
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(187, 182, 185);
    border: solid rgb(187, 182, 185);
    border-radius: 15px;    
    padding: 3px;
    margin: 3px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: rgb(255, 251, 253);
    color: black;
    cursor: pointer;
}








